
.md-main__inner {
    max-width: 85%;
    overflow: visible;
    transition: margin 0.3s ease-in-out;

}



@media (max-width: 1300px) {
    .md-main__inner {
        max-width: 100%;
        margin-right: 0px;
        margin-left: 0px;  
    }
}


.hidden-cell {
    display: none;
}


.collapse-button {
    background-color: #008CBA; /* Blue */
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
